.background {
    -fx-background-color: #DDEFFF;
}

.colourSelected:hover {
    -fx-border-color: orange;
    -fx-border-width: 2.0;
    -fx-border-style: solid;
    -fx-border-radius: 55;
}


.game-button:hover {
    -fx-align-items: center;
    -fx-background-color: rgb(5, 6, 45);
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to left top,#AF40FF, #5B42F3 50%,#00DDEB);
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-font-family: sans-serif;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.game-button {
    -fx-background-color: linear-gradient(to left top,#AF40FF, #5B42F3 50%,#00DDEB);
    -fx-text-fill: #FFFFFF;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}